.formValidate {
  display: flex;
  gap: 10px;
}

.input {
  flex: 1 1;
}

.btnValidate {
  background-color: rgb(28, 133, 28);
  color: white;
  border: none;
}

.btnReset {
  background-color: rgb(209, 6, 6);
  color: white;
  border: none;
}
