.card {
  width: 100px;
  height: 60px;
  flex: 1 0;

  border-radius: 5px;
  outline: 1px solid lightgrey;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
